.game-container {
    padding: 20px;
    background: white;
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.round {
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

.numbers div {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    background-color: #efefef;
    border-radius: 5px;
}
